# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.sdf
*.ncb
*.suo
*.pch
*.pdb
*.idb
*.exp
*.map

# Compiled Static libraries
*.lai
*.la
*.lib
*.a
*.user
*.exe
*.VC.db
.vs/
x64/
build/
Debug/
Release/
dist/
acl_cpp_vc2015.VC.VC.opendb
acl_cpp_vc2015.VC.db
app/gson/debug/
app/gson/gson
app/gson/gson.vcxproj.user
app/master_dispatch/manager/Debug/
app/redis_tools/redis_builder/Debug/
app/wizard/Debug/
app/wizard_demo/httpd_download/Debug/
app/wizard_demo/httpd_upload/Debug/
ipch/
lib_acl/Debug/
lib_acl/StdAfx.h.gch
lib_acl/debug/
lib_acl/master/acl_master
lib_acl/samples/dgate/Debug/
lib_acl/samples/mmap_string/Debug/
lib_acl/samples/winaio/Debug/
lib_acl/samples/zdb/Debug/
lib_acl_cpp/Debug/
lib_acl_cpp/lib_acl_cpp_vc2015.vcxproj.user
lib_acl_cpp/samples/aio/aio_client/Debug/
lib_acl_cpp/samples/aio/aio_client_ssl/Debug/
lib_acl_cpp/samples/aio/aio_connect/Debug/
lib_acl_cpp/samples/aio/aio_dns/Debug/
lib_acl_cpp/samples/aio/aio_ipc/Debug/
lib_acl_cpp/samples/aio/aio_server/Debug/
lib_acl_cpp/samples/aio/aio_server_ssl/Debug/
lib_acl_cpp/samples/aio/pkg_client/Debug/
lib_acl_cpp/samples/aio/pkg_server/Debug/
lib_acl_cpp/samples/cgi/Debug/
lib_acl_cpp/samples/cgi_upload/Debug/
lib_acl_cpp/samples/connect_manager/Debug/
lib_acl_cpp/samples/db/mysql_manager/Debug/
lib_acl_cpp/samples/db/mysql_pool/Debug/
lib_acl_cpp/samples/db/mysql_query/Debug/
lib_acl_cpp/samples/db/query/Debug/
lib_acl_cpp/samples/dbuf/dbuf1/Debug/
lib_acl_cpp/samples/dbuf/dbuf2/Debug/
lib_acl_cpp/samples/dbuf/dbuf3/Debug/
lib_acl_cpp/samples/dbuf/dbuf4/Debug/
lib_acl_cpp/samples/dircmp/Debug/
lib_acl_cpp/samples/dircopy/Debug/
lib_acl_cpp/samples/disque/disque_client/Debug/
lib_acl_cpp/samples/disque/disque_cluster/Debug/
lib_acl_cpp/samples/disque/disque_manager/Debug/
lib_acl_cpp/samples/disque/disque_pool/Debug/
lib_acl_cpp/samples/final_class/Debug/
lib_acl_cpp/samples/flock/Debug/
lib_acl_cpp/samples/fstream/Debug/
lib_acl_cpp/samples/http_client/Debug/
lib_acl_cpp/samples/http_request_manager/Debug/
lib_acl_cpp/samples/http_request_pool/Debug/
lib_acl_cpp/samples/http_servlet2/Debug/
lib_acl_cpp/samples/json/json0/Debug/
lib_acl_cpp/samples/json/json1/Debug/
lib_acl_cpp/samples/json/json10/Debug/
lib_acl_cpp/samples/json/json11/Debug/
lib_acl_cpp/samples/json/json12/Debug/
lib_acl_cpp/samples/json/json2/Debug/
lib_acl_cpp/samples/json/json3/Debug/
lib_acl_cpp/samples/json/json4/Debug/
lib_acl_cpp/samples/json/json5/Debug/
lib_acl_cpp/samples/json/json6/Debug/
lib_acl_cpp/samples/json/json7/Debug/
lib_acl_cpp/samples/json/json8/Debug/
lib_acl_cpp/samples/json/json9/Debug/
lib_acl_cpp/samples/master/master_aio/Debug/
lib_acl_cpp/samples/master/master_threads/Debug/
lib_acl_cpp/samples/master/master_udp/Debug/
lib_acl_cpp/samples/master_aio_proxy/Debug/
lib_acl_cpp/samples/md5/Debug/
lib_acl_cpp/samples/memcache_pool/Debug/
lib_acl_cpp/samples/mime/mail_build/Debug/
lib_acl_cpp/samples/mime/mime/Debug/
lib_acl_cpp/samples/mime/mime_base64/Debug/
lib_acl_cpp/samples/mime/mime_qp/Debug/
lib_acl_cpp/samples/redis/redis/Debug/
lib_acl_cpp/samples/redis/redis_client_cluster/Debug/
lib_acl_cpp/samples/redis/redis_client_cluster2/Debug/
lib_acl_cpp/samples/redis/redis_cluster/Debug/
lib_acl_cpp/samples/redis/redis_connection/Debug/
lib_acl_cpp/samples/redis/redis_geo/Debug/
lib_acl_cpp/samples/redis/redis_hash/Debug/
lib_acl_cpp/samples/redis/redis_hyperloglog/Debug/
lib_acl_cpp/samples/redis/redis_key/Debug/
lib_acl_cpp/samples/redis/redis_list/Debug/
lib_acl_cpp/samples/redis/redis_manager/Debug/
lib_acl_cpp/samples/redis/redis_pool/Debug/
lib_acl_cpp/samples/redis/redis_pubsub/Debug/
lib_acl_cpp/samples/redis/redis_set/Debug/
lib_acl_cpp/samples/redis/redis_string/Debug/
lib_acl_cpp/samples/redis/redis_trans/Debug/
lib_acl_cpp/samples/redis/redis_zset/Debug/
lib_acl_cpp/samples/redis/redis_zset_pool/Debug/
lib_acl_cpp/samples/rfc2047/Debug/
lib_acl_cpp/samples/scan_dir/Debug/
lib_acl_cpp/samples/singleton/Debug/
lib_acl_cpp/samples/smtp_client/Debug/
lib_acl_cpp/samples/socket_stream/Debug/
lib_acl_cpp/samples/ssl/https_proxy/Debug/
lib_acl_cpp/samples/ssl/ssl_client/Debug/
lib_acl_cpp/samples/ssl/ssl_server/Debug/
lib_acl_cpp/samples/string/blank_line/Debug/
lib_acl_cpp/samples/string/string1/Debug/
lib_acl_cpp/samples/string/string2/Debug/
lib_acl_cpp/samples/string/string3/Debug/
lib_acl_cpp/samples/thread/Debug/
lib_acl_cpp/samples/thread_pool/Debug/
lib_acl_cpp/samples/xml/xml1/Debug/
lib_acl_cpp/samples/xml/xml2/Debug/
lib_acl_cpp/src/acl_stdafx.hpp.gch
lib_protocol/Debug/
lib_protocol/debug/
lib_rpc/Debug/
android/acl/.externalNativeBuild
android/acl/.gradle
android/acl/.idea
android/acl/build
android/acl/gradle

# xmake
.xmake
.DS_Store
.idea
.vs
.vscode
